node_modules
*~
*.swp
*.swo
.idea
dependencies
test/lib
coverage

# Ignore gh-pages specific content
public
npm-debug.log
.nyc_output/
_docpress

# Ignore package-lock.json because we are using Yarn
package-lock.json

# Yarn Berry .gitignore suggestion from https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore build artifacts from version control
lib
