language: node_js

node_js:
  - "8"

env:
  global:
    - GIT_NAME: Travis CI
    - GIT_EMAIL: mail@victorquinn.com
    - GITHUB_REPO: chancejs/chancejs
    - GIT_SOURCE: _docpress

before_script:
  - npm install -g gulp-cli

script:
  - gulp travis
  - ./node_modules/.bin/docpress build

after_script:
  - './node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls'

after_success:
  - './node_modules/.bin/nyc ava'
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then ./node_modules/.bin/git-update-ghpages -e; fi

sudo: false
