---
title: "Chance.js: Random generator helper for JavaScript"
layout: default
description: >
  Random generator helper for JavaScript
version: 0.1
github_url: https://github.com/victorquinn/chancejs
---

<div id="menu_icon">≣</div>

<aside id="sidebar" class="interface">

  <a class="toc_title" href="#">
    Chance.js <span class="version">({{ page.version }})</span>
  </a>

  <ul class=toc_section>
    <li><a href="#download">Download</a></li>
    <li><a href="#changelog">Change Log</a></li>
    <li><a href="#thanks">Acknowledgements</a></li>
  </ul>

  <hr>

  <a class=toc_title href="#Name">Name</a>
  {% assign posts = site.categories.name %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#Address">Address</a>
  {% assign posts = site.categories.address %}
  {% include methods_sidebar.html %}
</aside>

<div class="container">

  <header>
  <h1><img src=logo.png alt=Chance.js></h1>

  <p>
    <b>Chance</b> is a minimalist generator of random strings, numbers, etc. to help
    reduce some monotony particularly while writing automated tests.
  </p>
  <p>
    Chance is open source software and is released under the
    developer and business-friendly
    <a href="{{ page.github_url }}/blob/master/MIT-LICENSE">MIT license</a>.
  </p>

  <h3 id=download>Download Chance</h3>

  <ul class=downloads>
    <li>
      <a href="chance.js" class="download">chance.js v{{ page.version }} (for development)</a>
      <!-- – <i>54.6k uncompressed, lots of comments</i> -->
    </li>
    <li>
      <a href="chance.min.js" class="download">chance.min.js v{{ page.version }} (for production)</a>
      <!-- – <i>9.7k when gzipped</i> -->
    </li>
  </ul>
  
  <p>
    Or <b><a href="{{ page.github_url }}">grab the latest version on Github</a></b>.
  </p>
  
  <ul class=downloads>
    <li>
      <iframe src="http://ghbtns.com/github-btn.html?user=victorquinn&repo=chancejs&type=watch&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=victorquinn&repo=chancejs&type=fork&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
    </li>
  </ul>

  <p>
    Include Chance with a script tag before writing any tests
  </p>

{% highlight html %}
<script src=chance.min.js></script>
...
<script src=mycooltests.js></script>
{% endhighlight %}

  <p>
    Or load Chance with <a href="http://requirejs.org">RequireJS</a>
  </p>

{% highlight js %}
  require(['Chance'], function(Chance) {
    // Use Chance here.
  });
{% endhighlight %}

  <section id=documentation>
    <hr>
    <h2 id="address">Address methods</h2>
    {% assign posts = site.categories.address %}
    {% include methods_full.html %}

    <hr>
    <h2 id="changelog">Change Log</h2>
    {% for change in site.categories.changelog %}
    <article class=changelog id="changelog-{{ change.title }}">
      <h3>
        {{ change.title }}
        <small>&mdash; <i>{{ change.date | date_to_string }}</i>
        {% if change.diff %}&mdash; <a href="{{ page.github_url }}/compare/{{ change.diff }}">diff</a>{% endif %}
        </small>
      </h3>
      {{ change.content }}
    </article>
    {% endfor %}
  </section>

  <p>
      This documentation is based on the layout of the
      <a href="https://zeptojs.com">Zepto.js</a> which itself is based on the layout of the
      <a href="https://github.com/documentcloud/backbone/">Backbone.js</a>
      documentation, which is released under the
      <a href="https://github.com/documentcloud/backbone/blob/master/LICENSE">MIT license</a>.
    </p>

    <p>
      <small>
        &copy; 2013 <a href="http://victorquinn.com">Victor Quinn</a><br>
        Chance and this documentation are released under the terms of the <a href="{{ page.github_url }}/blob/master/MIT-LICENSE">MIT license</a>.
      </small>
    </p>

</div>

<script src="zepto.min.js"></script>
<script src="touch.js"></script>

<script>
  var reflowTimeout;
  
  function injectScript(src) {
    var s = document.createElement('script')
    s.src = src; s.async = true
    $('script').first().before(s)
  }

  // Reflow all elements on the page.
  function reflowFixedPositions() {
    var docStyle = document.documentElement.style
    docStyle.paddingRight = '1px'
    setTimeout(function(){ docStyle.paddingRight = '' }, 0)
  }

  $('.signature code').html(function(i, html){
    return html
      .replace(/\[([^\[]+)\]$/mg, '<span class=version>$1+</span>')
      .replace(/\)([^()]+)$/mg, ') <span class=return>$1</span>')
  })

  $(document).on('mouseover', 'span.version', function(){
    var el = $(this)
    if (!el.attr('title'))
      el.attr('title', "This feature is only available in Zepto " + el.text())
  })

  if ($.os.ios || /\bMac.+\bSafari\b/.test(navigator.userAgent))
    $(document.body).addClass('emoji-enabled')
    
  // don't follow links when the sidebar is tap-enabled
  $('#sidebar').on('click', 'a', function(e){
    return !$('body').hasClass('navigating')
  })

  $('#sidebar').on('tap', 'a', function(e){
    location.href = this.href;

    closeMenu()
    setTimeout(function(){
      // fixes sidebar becoming unscrollable in Safari 6
      reflowFixedPositions()
    }, 10)    
    return false
  })
  
  $(window).on('scroll', function(){
    if(reflowTimeout) clearTimeout(reflowTimeout)
    reflowTimeout = setTimeout(reflowFixedPositions, 200)
  })
  
  function closeMenu(){
    if ($('body').hasClass('navigating')) {
      $('body').removeClass('navigating')
      setTimeout(function(){
        $('#sidebar').css('display','none')
      }, 350)
    }
  }
  
  // show/hide menu on mobile
  $('#menu_icon').on('tap', function(){
    if ($('body').hasClass('navigating')) {
      closeMenu()
    } else {
      $('#sidebar').css('display','block')
      $('#sidebar')[0].offsetLeft // force render
      $('body').addClass('navigating')
    }
    return false
  })

  // change the title of the page so bookmarks have a better default
  if ($.os.ios || $.os.android)
    document.title = 'Zepto Docs'

  // For retina screens, use a hi-res version of the tour image.
  // We're swapping this out on-demand (not an ideal solution)
  // to avoid rendering bugs on iOS.
  $('#tour > img')[0].src =
    ('devicePixelRatio' in window && devicePixelRatio > 1) ?
    'intro2x.jpg' : 'intro.jpg'

  var tour = $('#tour'), tourSlides = tour.children(),
      tourSlide = 0, tourSlidesTotal = 5

  function advanceTourSlide(delta){
    tourSlide = (tourSlide + delta + tourSlidesTotal) % tourSlidesTotal
    var offset = tourSlide * tour.width()
    tourSlides.animate({ translateX: -offset + 'px' })
  }

  tour.on('click swipeLeft', function(){ advanceTourSlide(+1) })
      .on('swipeRight', function(){ advanceTourSlide(-1) })

  if (/^localhost|\.(dev|local)$/.test(location.hostname) && $.os.iphone && !/Simulator/.test(navigator.userAgent))
    injectScript('livereload.js')

  if (/\.com$/.test(location.hostname))
    injectScript('http://platform.twitter.com/widgets.js')
</script>

<script>
  <!-- Analytics tracking here -->
</script>
