---
title: "Chance.js: Utility library to generate anything random for JavaScript"
layout: default
description: >
  Utility library to generate anything random for JavaScript
version: 0.3.3
github_url: https://github.com/victorquinn/chancejs
---

<div id="menu_icon">≣</div>

<aside id="sidebar" class="interface">

  <a class="toc_title" href="#">
    Chance.js <span class="version">({{ page.version }})</span>
  </a>

  <ul class=toc_section>
    <li><a href="#download">Download</a></li>
    <li><a href="#todo">Todo</a></li>
    <li><a href="#changelog">Change Log</a></li>
    <li><a href="#thanks">Acknowledgements</a></li>
  </ul>

  <a class=toc_title href="#usage">Usage</a>
  {% assign posts = site.categories.usage %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#basics">Basics</a>
  {% assign posts = site.categories.basics %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#text">Text</a>
  {% assign posts = site.categories.text %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#name">Name</a>
  {% assign posts = site.categories.name %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#web">Web</a>
  {% assign posts = site.categories.web %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#address">Address</a>
  {% assign posts = site.categories.address %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#time">Time</a>
  {% assign posts = site.categories.time %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#finance">Finance</a>
  {% assign posts = site.categories.finance %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#helpers">Helpers</a>
  {% assign posts = site.categories.helpers %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#miscellaneous">Miscellaneous</a>
  {% assign posts = site.categories.miscellaneous %}
  {% include methods_sidebar.html %}
</aside>

<div class="container">

  <header>
  <h1><img src=logo.png alt=Chance.js></h1>

  <p>
    <b>Chance</b> is a minimalist generator of random <a href="#true-random">[1]</a> strings, numbers, etc. to help
    reduce some monotony particularly while writing automated tests.
  </p>
  <p><em>This is very much a work in progress</em></p>
  <p>
    Chance is open source software and is released under the
    developer and business-friendly
    <a href="{{ page.github_url }}/blob/master/MIT-LICENSE">MIT license</a>.
  </p>
  <p>
    <b>Chance</b> is loaded on this site so you can just open the console on your browser and play!
    <img src="inspector.png">
  </p>
  <p>
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://chancejs.com/" data-text="Chance - Utility library to generate random things for JavaScript" data-count="horizontal" data-via="victorquinn">Tweet</a>
  </p>

  <h3 id=download>Download Chance</h3>

  <ul class=downloads>
    <li>
      <a href="chance.js" class="download" download="chance.js">chance.js v{{ page.version }}</a>
      <!-- – <i>54.6k uncompressed, lots of comments</i> -->
    </li>
    <!-- 
    <li>
      <a href="chance.min.js" class="download">chance.min.js v{{ page.version }} (for production)</a>
      – <i>9.7k when gzipped</i>
    </li>
    -->
  </ul>
  
  <p>
    Or <b><a href="{{ page.github_url }}">grab the latest version on Github</a></b>.
  </p>
  
  <ul class=downloads>
    <li>
      <iframe src="http://ghbtns.com/github-btn.html?user=victorquinn&repo=chancejs&type=watch&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=victorquinn&repo=chancejs&type=fork&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
    </li>
  </ul>

  <section id=documentation>
    <hr>

    <h2 id="usage">Usage</h2>
    {% assign posts = site.categories.usage %}
    {% include methods_full.html %}

    <h2 id="basics">Basics</h2>
    {% assign posts = site.categories.basics %}
    {% include methods_full.html %}

    <h2 id="text">Text</h2>
    {% assign posts = site.categories.text %}
    {% include methods_full.html %}

    <h2 id="name">Name</h2>
    {% assign posts = site.categories.name %}
    {% include methods_full.html %}

    <h2 id="web">Web</h2>
    {% assign posts = site.categories.web %}
    {% include methods_full.html %}

    <h2 id="address">Address</h2>
    {% assign posts = site.categories.address %}
    {% include methods_full.html %}

    <h2 id="time">Time</h2>
    <p>
      <em>For more complex time manipulation, <a href="http://momentjs.com">Moment</a> is
        strongly recommended. It would be out of this library's core competency to try and
        provide date objects of all formats</em>
    </p>

    {% assign posts = site.categories.time %}
    {% include methods_full.html %}

    <h2 id="finance">Finance</h2>
    {% assign posts = site.categories.finance %}
    {% include methods_full.html %}

    <h2 id="helpers">Helpers</h2>
    {% assign posts = site.categories.helpers %}
    {% include methods_full.html %}

    <h2 id="miscellaneous">Miscellaneous methods</h2>
    {% assign posts = site.categories.miscellaneous %}
    {% include methods_full.html %}

    <hr>
    <h2 id="todo">Todo</h2>
    <ul>
      {% for todo in site.categories.todo %}
      <li>
        <article class=todo id="todo-{{ todo.title }}">
          <p>
            <strong>{{ todo.title }}</strong>{{ todo.content }}
          </p>
        </article>
      </li>
      {% endfor %}
    </ul>

    <hr>
    <h2 id="changelog">Change Log</h2>
    {% for change in site.categories.changelog %}
    <article class=changelog id="changelog-{{ change.title }}">
      <h3>
        {{ change.title }}
        <small>&mdash; <i>{{ change.date | date_to_string }}</i>
        {% if change.diff %}&mdash; <a href="{{ page.github_url }}/compare/{{ change.diff }}">diff</a>{% endif %}
        </small>
      </h3>
      {{ change.content }}
    </article>
    {% endfor %}
  </section>

  <h2 id="thanks">Acknowledgements & Thanks</h2>
  <p>
    This documentation is based on the layout of the
    <a href="https://zeptojs.com">Zepto.js</a> which itself is based on the layout of the
    <a href="https://github.com/documentcloud/backbone/">Backbone.js</a>
    documentation, which is released under the
    <a href="https://github.com/documentcloud/backbone/blob/master/LICENSE">MIT license</a>.
  </p>
  <p>
    Thank you to <a href="https://github.com/banksean">Sean McCullough</a> for your <a href="https://gist.github.com/banksean/300494">Mersenne Twister gist</a> on which almost the entirety of this library is dependent. And to Takuji Nishimura and Makoto Matsumoto who wrote the original C version on which Sean's JavaScript gist is based.
  </p>
  <p>
    And of course a monster thank you to all of the <a href="https://github.com/victorquinn/chancejs/graphs/contributors">Contributors</a> to this project!
  </p>
  <p>
    <small>
      &copy; 2013 <a href="http://victorquinn.com">Victor Quinn</a><a href="https://coderwall.com/victorquinn"><img alt="Endorse victorquinn on Coderwall" src="https://api.coderwall.com/victorquinn/endorsecount.png" /></a><br>
      Chance and this documentation are released under the terms of the <a href="{{ page.github_url }}/blob/master/MIT-LICENSE">MIT license</a>.
    </small>
  </p>

  <footer>
    <p>
      <a id="true-random">[1]</a> - Of course true mathematicians out there would say that this ought to be
      considered as only generating pseudo-random things, not true random. For that
      we'd need some external entropy, not depending on a Mersenne Twister,
      blah, blah, blah. However, for most practical uses of this library for which
      it was created and intended, such as generating random names and addresses for
      automated tests, our random is good enough. But it should probably NOT be used
      for any cryptographic applications requiring true-random. See
      <a href="http://vq.io/12hBd84">Wikipedia's article</a> for more info.
    </p>
  </footer>
</div>

<script src="chance.js"></script>

<script src="zepto.min.js"></script>
<script src="touch.js"></script>

<script>
  var reflowTimeout;
  
  function injectScript(src) {
    var s = document.createElement('script')
    s.src = src; s.async = true
    $('script').first().before(s)
  }

  // Reflow all elements on the page.
  function reflowFixedPositions() {
    var docStyle = document.documentElement.style
    docStyle.paddingRight = '1px'
    setTimeout(function(){ docStyle.paddingRight = '' }, 0)
  }

  $('.signature code').html(function(i, html){
    return html
      .replace(/\[([^\[]+)\]$/mg, '<span class=version>$1+</span>')
      .replace(/\)([^()]+)$/mg, ') <span class=return>$1</span>')
  })

  $(document).on('mouseover', 'span.version', function(){
    var el = $(this)
    if (!el.attr('title'))
      el.attr('title', "This feature is only available in Zepto " + el.text())
  })

  if ($.os.ios || /\bMac.+\bSafari\b/.test(navigator.userAgent))
    $(document.body).addClass('emoji-enabled')
    
  // don't follow links when the sidebar is tap-enabled
  $('#sidebar').on('click', 'a', function(e){
    return !$('body').hasClass('navigating')
  })

  $('#sidebar').on('tap', 'a', function(e){
    location.href = this.href;

    closeMenu()
    setTimeout(function(){
      // fixes sidebar becoming unscrollable in Safari 6
      reflowFixedPositions()
    }, 10)    
    return false
  })
  
  $(window).on('scroll', function(){
    if(reflowTimeout) clearTimeout(reflowTimeout)
    reflowTimeout = setTimeout(reflowFixedPositions, 200)
  })
  
  function closeMenu(){
    if ($('body').hasClass('navigating')) {
      $('body').removeClass('navigating')
      setTimeout(function(){
        $('#sidebar').css('display','none')
      }, 350)
    }
  }
  
  // show/hide menu on mobile
  $('#menu_icon').on('tap', function(){
    if ($('body').hasClass('navigating')) {
      closeMenu()
    } else {
      $('#sidebar').css('display','block')
      $('#sidebar')[0].offsetLeft // force render
      $('body').addClass('navigating')
    }
    return false
  })

  // change the title of the page so bookmarks have a better default
  if ($.os.ios || $.os.android)
    document.title = 'Chance Docs'

  // For retina screens, use a hi-res version of the tour image.
  // We're swapping this out on-demand (not an ideal solution)
  // to avoid rendering bugs on iOS.
  /*
  $('#tour > img')[0].src =
    ('devicePixelRatio' in window && devicePixelRatio > 1) ?
    'intro2x.jpg' : 'intro.jpg'
  */
  var tour = $('#tour'), tourSlides = tour.children(),
      tourSlide = 0, tourSlidesTotal = 5

  function advanceTourSlide(delta){
    tourSlide = (tourSlide + delta + tourSlidesTotal) % tourSlidesTotal
    var offset = tourSlide * tour.width()
    tourSlides.animate({ translateX: -offset + 'px' })
  }

  tour.on('click swipeLeft', function(){ advanceTourSlide(+1) })
      .on('swipeRight', function(){ advanceTourSlide(-1) })

  if (/^(localhost|chancejs)|\.(dev|local)$/.test(location.hostname) && $.os.iphone && !/Simulator/.test(navigator.userAgent))
    injectScript('livereload.js')

  injectScript('http://platform.twitter.com/widgets.js')
</script>

<script>
 var GoSquared = {};
  GoSquared.acct = "GSN-070194-V";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>
