.markdown-body a {
    color: #c0392b;
}

.menu {
    background-color: #c0392b;
}

.-menu-visible .menu-toggle {
    background-color: #c0392b;
}

.menu-toggle {
    color: #fff;
    background-color: #c0392b;
}

.toc-menu .link.-active, .toc-menu .hlink.-active {
    box-shadow: inset -2px 0 #fff;
}

.toc-menu .-level-1.-parent > .title {
    color: #fff;
}

.toc-menu .-level-1:first-child > .title {
    color: #fff;
}

ul.heading-list .hlink, ul.heading-list .hlink:visited {
    color: #fff;
}

.toc-menu .link, .toc-menu .link:visited {
    color: #fff;
}

ul.heading-list .hlink::before {
    background: #fff;
}

.footer-nav a {
    color: #c0392b;
}

.footer-nav .label, .footer-nav .left .title {
    color: #c0392b;
}

.header-nav.-expanded .icon {
    color: #fff;
}

.pullquote {
    display: block;
    float: right;
    padding: 0 0 0 10px;
    margin: 0 0 10px 10px;
    width: 15.0em;
    font-size: 1.0em;
    line-height: 1.4em;
    color: #666;
    border-left: 3px solid #ccc;
}

.markdown-body pre {
    background-color: #fdf6e3;
    border-radius: 12px;
}

.markdown-body pre code {
    background-color: #fdf6e3;
}
